<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulaire ajout de voiture</title>
</head>
<body>
    <form action="/newcarsave" method="post">
        <label for="">Marque</label>
        <input type="text" name="marque">
        
        <label for="">Modele</label>
        <input type="text" name="modele">

        <label for="">Description</label>
        <textarea name="description"></textarea>

        <input type="submit" value="Créer une nouvelle voiture">
    </form>
</body>
</html>